<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticker.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @ticker.enabled %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticker.user.email %>
</p>

<p>
  <strong>Trades:</strong>
  <br />

  <table>
    <thead>
    <tr>
      <th>Shares</th>
      <th>Amount</th>
      <th>Total Shares</th>
      <th>Cost</th>
      <th>Total Cost</th>
      <th>Average Cost</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>

    <% total_shares = 0 %>
    <% total_cost = 0 %>
    <% average_cost = 0 %>

    <% @ticker.trades.each do |trade| %>
      <% total_shares += trade.shares %>
      <% total_cost += trade.shares * trade.amount %>
      <% average_cost = total_cost / total_shares %>

      <tr>
        <td><%= trade.shares %></td>
        <td><%= number_to_currency(trade.amount) %></td>
        <td><%= total_shares %></td>
        <td><%= number_to_currency(trade.shares * trade.amount) %></td>
        <td><%= number_to_currency(total_cost) %></td>
        <td><%= number_to_currency(average_cost) %></td>
        <td><%= trade.created_at.to_s %></td>
      </tr>
    <% end %>

    </tbody>

  </table>
  <br />

  <strong>Total Shares: </strong> <%= @ticker.trades.sum(:shares) %>
</p>

<%= link_to 'Edit', edit_ticker_path(@ticker) %> |
<%= link_to 'Back', tickers_path %>
