<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticker.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @ticker.enabled %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticker.user.email %>
</p>

<p>
  <strong>Trades:</strong>
  <br />

  <table>
    <thead>
    <tr>
      <th>Shares</th>
      <th>Amount</th>
      <th>Cost</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>

    <% @ticker.trades.each do |trade| %>
      <tr>
        <td><%= trade.shares %></td>
        <td><%= number_to_currency(trade.amount) %></td>
        <td><%= number_to_currency(trade.shares * trade.amount) %></td>
        <td><%= trade.created_at.to_s %></td>
      </tr>
    <% end %>
    </tbody>

  </table>

<br />

<strong>Total Shares: </strong> <%= @ticker.trades.sum(:shares) %>
<strong>Average Cost: </strong> <%= number_to_currency(@ticker.trades.sum(:amount) / @ticker.trades.sum(:shares)) %>

</p>

<%= link_to 'Edit', edit_ticker_path(@ticker) %> |
<%= link_to 'Back', tickers_path %>
