<%= form_with(model: trade, local: true) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shares %>
    <%= form.text_field :shares, id: :trade_shares %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :trade_amount %>
  </div>

  <div class="field">
    <%= form.label :ticker_id %>
    <%= form.select(:ticker_id, options_for_select(array_for_options)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
